@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700);

@font-face {
  font-family: 'SerifaLT-Bold';
  font-weight: normal;
  font-style: normal;
  src: asset-url('2D64DB_0_0.eot?');
  src: local('☺'), asset-url('2D64DB_0_0.eot?#iefix') format('embedded-opentype'), asset-url('2D64DB_0_0.woff2') format('woff2'), asset-url('2D64DB_0_0.woff') format('woff'), asset-url('2D64DB_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'SerifaStd-Bold';
  font-weight: normal;
  font-style: normal;
  src: asset-url('FiraSans-Bold.eot?');
  src: local('☺'), asset-url('Serifa65Bold.ttf') format('truetype');
}


// LAYOUT
$layout-max-width: 1425px;
$desktop-hdtv: 1400px;
$desktop-small: 1281px;
$desktop-small-xs: 1124px;
$desktop-small-xxs: 1060px;
$tablet: 1024px;
$mobile: 768px;
// $layout-max-width: 2200px;

// COLORS
$color1: #ee4d9b; // magenta - subnavigation background
$color2: #de4891; // dark magenta
$color3: #58595b; // dark gray - main navigation
$color4: #484c54;
$color5: #575b64;
$color6: #767c88;
$color7: #888e9a;
$color8: #c5c3c4;
$color9: #d7d7d7;
$color10: #eeeeee;

$color11: #f7f6f6;
$color12: #eeeced;
$color13: #4a4a4a;
$color14: #323334; /* content-box--bottom on hover */
$color15: #c5c3c4; /* intro header, next to h1  */
$color16: #58585a; /* free text, copy text  */
$color17: #aeaeae; /* free text -> h2*/
$color18: #ababac; /* input placeholders */
$color19: #b5b5b5;

$error-color: #9c064f;

$color-nav-m: #ee4d9b;
$color-nav-m-expanded: #ce3f84;
$color-nav-m-expanded2: #bf3d77;

$border-def: 2px $color12 solid;

// FONTS
/*
FIXME: too late
this is interesting as most font sizes are different than 16px - mostly 14, 18, 22, 12...
*/
$font-size-base: 30px;
@media screen and (max-width: $desktop-small) and (min-width: 1024px){
  $font-size-base: 14px;
}
@media screen and (max-width: $layout-max-width) and ($desktop-small){
  $font-size-base: 16px;
}


/* generic font sizes, to be used in scss */
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm1: 16px;
$font-size-sm: 18px;
$font-size-md: 22px;
$font-size-lg: 33px;
$font-size-xlg: 36px;
$font-size-xxlg: 50px;

$font-size-nav-m: 14px;
$font-size-nav-m2: 12px;

// $serifa-bold: "SerifaStd-Bold";
$serifa-bold: "SerifaLT-Bold";

$fira-regular: 'FiraSans-Regular';
$fira-medium: 'FiraSans-Medium';
$fira-bold: 'FiraSans-Bold';

// $fira-regular: 'SourceSansPro-Regular';
// $fira-medium: 'SourceSansPro-Semibold';
// $fira-bold:'SourceSansPro-Bold';

$font-color: #333;

// BUTTONS
$def-button-bg: #cdcdcd;
$primary-button-bg: #ee4d9b;
$def-button-text-color: #ffffff;

// FORMS
$def-input-border: 2px $color12 solid;
$def-input-error-border: 2px $color1 solid;


